<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.video-autoworker.n8n</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__RUNTIME_ROOT__/current/scripts/n8n-start.sh</string>
    <string>--foreground</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__RUNTIME_ROOT__/current/ops/n8n</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>AIWORKER_N8N_ENV_FILE</key>
    <string>__ENV_FILE__</string>
    <key>PATH</key>
    <string>__NODE_BIN_DIR__:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/n8n.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/n8n.error.log</string>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>65536</integer>
  </dict>
</dict>
</plist>
